.post-footer {
  display: flex;
  align-items: center;
  gap: 20px;
}

.post-footer__avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;

  background-color: grey;
  cursor: pointer;
}

.post-footer__input-with-icons {
  position: relative;
  width: calc(100% - 50px - 20px);
}

.post-footer__input {
  width: 100%;
  border: 1px solid grey;
  border-radius: 20px;
  padding: 10px 180px 10px 10px;

  font-size: inherit;

  background-color: rgb(230, 230, 230);
}

.post-footer__input:focus {
  outline: 1px solid #006aff;
}

.post-footer__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  cursor: pointer;
}

.post-footer__icon_smile {
  right: 140px;
}

.post-footer__icon_camera {
  right: 100px;
}

.post-footer__icon_gif {
  right: 60px;
}

.post-footer__icon_note {
  right: 20px;
}
