.post-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.post-form__textarea {
  border: none;
  padding: 10px;
  width: 100%;
  min-height: 150px;
  resize: none;
  
  font-size: inherit;

  background-color: lightgray;
}

.post-form__textarea:focus {
  outline: 1px solid #006aff;
}

.post-form__btn {
  place-self: flex-end;
  
  padding: 10px 20px;
  border: none;
  border-radius: 5px;

  color: #fff;
  font-size: inherit;

  background-color: #006aff;
}
