.post {
  display: flex;
  flex-direction: column;
  gap: 20px;

  padding: 20px;

  border-radius: 5px;
  background-color: #fff;
}

.post__footer {
  display: flex;
  align-items: center;
  gap: 20px;
}

.post__links {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.post__change {
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  background-color: #006aff;
}

.post__delete {
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  background-color: rgb(255, 98, 98);
}
